<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siddharth.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <activity android:name=".ExamOptionActivity"
            android:label="@string/practice_paper"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ExamActivity" />
        <activity
            android:name=".RegistrationFormActivity"
            android:label="@string/title_activity_registration_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InterNetNotConnetedActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".RulesActivity"
            android:label="@string/rule"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ReportActivity"
            android:label="@string/result_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ReportHistoryActivity"
            android:label="@string/report_history"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ExamInfoActivity" />
    </application>

</manifest>